.agt-sponsor-section-2 {
	overflow: hidden;
	background-color: #8811FF;
}
.agt-sp-content-2 {
	padding: 40px;
	display: flow-root;
}
.agt-cl-item-2 {
	margin: 0px 35px;
	display: inline-block;
	.item-img {
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}