.agt-blog-section-5 {
	padding-bottom: 50px;
}
.agt-blog-item-5 {
	margin: 0 auto;
	max-width: 419px;
	margin-bottom: 30px;
	.item-img {
		width: 100%;
		height: 359px;
		max-width: 419px;
		clip-path: polygon( 99.764% 3.343%,99.764% 3.343%,99.727% 2.8%,99.62% 2.286%,99.448% 1.806%,99.218% 1.369%,98.935% 0.979%,98.605% 0.645%,98.235% 0.373%,97.828% 0.17%,97.393% 0.044%,96.934% 0%,3.774% 0%,3.774% 0%,3.315% 0.044%,2.879% 0.17%,2.473% 0.373%,2.102% 0.645%,1.772% 0.979%,1.489% 1.369%,1.259% 1.806%,1.088% 2.286%,0.98% 2.8%,0.943% 3.343%,0.943% 74.373%,0.943% 74.373%,0.98% 74.915%,1.088% 75.43%,1.259% 75.909%,1.489% 76.347%,1.772% 76.737%,2.102% 77.071%,2.473% 77.343%,2.879% 77.545%,3.315% 77.672%,3.774% 77.716%,84.67% 77.716%,84.67% 77.716%,85.588% 77.803%,86.459% 78.057%,87.271% 78.462%,88.013% 79.006%,88.672% 79.674%,89.238% 80.453%,89.698% 81.329%,90.042% 82.288%,90.256% 83.317%,90.33% 84.401%,90.33% 96.657%,90.33% 96.657%,90.367% 97.2%,90.474% 97.714%,90.646% 98.193%,90.876% 98.631%,91.159% 99.021%,91.489% 99.355%,91.86% 99.627%,92.266% 99.83%,92.701% 99.956%,93.16% 100%,96.934% 100%,96.934% 100%,97.393% 99.956%,97.828% 99.83%,98.235% 99.627%,98.605% 99.355%,98.935% 99.021%,99.218% 98.631%,99.448% 98.193%,99.62% 97.714%,99.727% 97.2%,99.764% 96.657%,99.764% 3.343% );
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		margin-top: -45px;
		.blog-meta {
			margin-bottom: 18px;
			a {
				font-size: 15px;
				font-weight: 500;
				margin-right: 8px;
				padding: 3px 10px;
				border-radius: 4px;
				background-color: #fff;
				color: var(--agt-base-color-9);
			}
		}
		.blog_title {
			font-size: 24px;
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.05);
			}
		}
	}
}