.agt-faq-feed-section {
	.agn-sec-title-9 {
		margin: 0 auto;
		max-width: 565px;
	}
	.agt-fq-accordion {
		margin: 0 auto;
		padding-top: 60px;
	}
}
.agt-faq-feed-bottom {
	margin-top: 40px;
	h3 {
		font-size: 32px;
		padding-bottom: 20px;
		font-family: var(--playfair);
	}
}