.agt-tour-details-content {
	.item-thumb-img {
		overflow: hidden;
		border-radius: 10px;
		display: inline-block;
	}
}
.agt-tour-details-wrap {
	gap: 30px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.agt-tour-details-text {
	max-width: 770px;
	@media #{$lg} {
		max-width: 570px;
	}
	@media #{$md,$xs} {
		max-width: 100%;
	}
	.gt-hotel-location-rate {
		border-bottom: 1px solid rgba(30, 47, 34, .16);
		.gt-hotel-location {
			i {
				color: #1E2F22;
				margin-right: 5px;
			}
		}
		.gt-hotel-rate {
			color: #363539;
			i {
				color: #F2994A;
			}
		}
	}
	h3 {
		color: #1E2F22;
		line-height: 1;
		font-size: 40px;
		padding-bottom: 30px;
		@media #{$xs} {
			font-size: 30px;
		}
	}
	p {
		padding-bottom: 30px;
	}
	.item-heightlight {
		span {
			gap: 10px;
			color: #201D1E;
			display: flex;
			font-size: 20px;
			font-weight: 500;
			padding-bottom: 8px;
		}
		p {
			padding-left: 35px;
			padding-bottom: 15px;
		}
	}
	.gt-details-list {
		margin-bottom: 30px;
		li {
			position: relative;
			padding-left: 32px;
			margin-bottom: 12px;
			&:before {
				left: 0;
				top: 4px;
				width: 20px;
				height: 20px;
				content: '';
				position: absolute;
				background-image: url(../imgs/icon/check-2.svg);
			}
		}
	}
}
.gt-tour-details-info {
	width: 100%;
	gap: 30px;
	padding: 40px 0px 30px;
	border-bottom: 1px solid #D9D9D9;
	.gt-td-info-item {
		gap: 12px;
		width: 170px;
		.inner-icon {
			width: 48px;
			height: 48px;
			border-radius: 100%;
			background-color: #fff;
		}
		.inner-text {
			max-width: 110px;
			span {
				color: #4F4E54;
				font-size: 14px;
			}
			h3 {
				color: #363539;
				font-size: 18px;
				font-weight: 500;
				padding-top: 5px;
				padding-bottom: 0;
				font-family: var(--inter);
			}
		}
	}
}