.agt-part-title {
	.part_title {
		color: var(--agn-clr-black-9);
		font-size: 64px;
		font-weight: 600;
		line-height: 1.06;
		position: relative;
		padding-bottom: 40px;
		margin-bottom: 40px;
		@media #{$sm} {
			font-size: 55px;
		}
		@media #{$xs} {
			font-size: 45px;
		}
		@media #{$xxs} {
			font-size: 35px;
			margin-bottom: 30px;
			padding-bottom: 30px;
		}
		&:before {
			bottom: 0;
			height: 1px;
			width: 100%;
			content: '';
			opacity: 0.32;
			position: absolute;
			background-color: var(--agn-clr-black-9);;
		}
	}
	p {
		max-width: 530px;
		margin-left: 180px;
		@media #{$sm,$xs,$xxs} {
			margin-left: 0px;
		}
	}
}
.agt-partner-section-3 {
	overflow: hidden;
}
.agt-part-content-3 {
	display: flex;
    margin: 0 auto;
    max-width: 1920px;
}
.agt-part-item {
	flex: 0 0 auto;
	margin: 0px 12px;
	display: inline-block;
	.item-img {
		width: 280px;
		height: 120px;
		display: flex;
		border-radius: 8px;
		align-items: center;
		justify-content: center;
		border: 1px solid #1E1E1E66;
		cursor: pointer;
		img {
			transition: all 500ms ease-in-out;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}
